/.gsd-keyboard.settings-ported
/GNOME-xdg-terminals.list
/Kitware/
/QtProject.conf
/Unknown Organization/
/autostart/
/brittany/
/broot/
/cef_user_data/
/evolution/
/doomemacs/
# /emacs/
/doom/
/dconf/
/falkon/
/forge/
/fragments/
/gedit/
/gnome-control-center/
/gnome-layout-switcher.conf
/google-chrome/
/gsconnect/
/gthumb/
/Code - OSS/
/Code/
/connections.db
/go/
/gtk-2.0/
/gtk-3.0/
/ibus/
/libreoffice/
/manjaro-hello.json
/manjaro/
/marlin/
/menus/
/mimeapps.list
/nautilus/
/nitrogen/
/opera/
/nvim/
/pamac/
/picom-ftlabs/
/pulse/
/qt5ct/
/qt6ct/
/ranger/
/simple-scan/
/totem/
/touchegg/.touchegg:2.lock
/user-dirs.dirs
/user-dirs.locale
/whatsapp-for-linux/
/xdg-terminals.list
/yelp/
/zoom.conf
/zoomus.conf
/btop/btop.log
