/.gsd-keyboard.settings-ported
/GNOME-xdg-terminals.list
/Kitware/
/QtProject.conf
/Unknown Organization/
/autostart/
/brittany/
/broot/
/cef_user_data/
/evolution/
/doomemacs/
# /emacs/
/doom/
/dconf/
/falkon/
/forge/
/fragments/
/gedit/
/gnome-control-center/
/gnome-layout-switcher.conf
/google-chrome/
/gsconnect/
/gthumb/
