configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}

@theme "gruvbox-dark"

window {
  border-radius: 2;
  border-size: 1;
  border-color: #fb4934;
  width: 20%;
}

element normal.normal {
  padding: 20;
  style: "italic";
}

* {
  border-color: rgba(0, 0, 0, 0);
  border-size: 2;
  padding: 4;
  font: "Iosevka Nerd Font";
}
